<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoggyDreamsDepot</title>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css', integrity: 'sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH', crossorigin: 'anonymous' %>
    <link rel="stylesheet" media="screen" href="https://cdn.dribbble.com/assets/welcome/index-f1c44a1eb3aca69698ea3908d1c6a7820f8e2804808ff0f0d8ad2932f87bbe4a.css" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <%= link_to 'Doggy Dreams Depot', root_path, class: "navbar-brand" %>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <%= link_to 'About Us', about_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Contact Us', contact_path, class: "nav-link" %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="home-page">
        <section class="hero" data-track-location="Header">
            <div class="home-container">
                <div class="home-badge home-badge--color-cycle">
                    <a data-track-cta="Get started" href="/signup/new?return_to_after_signup=%2Fget-started">Hundreds of Products</a>
                </div>
                <h1 class="hero__heading">Serving Wagging Tails and Happy Hearts</h1>
                <div class="home-type-body-large font-weight-500">Your One-Stop Doggy Dreams Destination!</div>
                <a class="margin-t-32 btn2 btn2--large" data-track-cta="Get started" href="/signup/new?return_to_after_signup=%2Fget-started">Get started</a>
            </div>
            <div class="hero-marquee" style="--card-count: 24;" >
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">Left</button>
                    <button type="button" class="btn btn-primary">Middle</button>
                    <button type="button" class="btn btn-primary">Right</button>
                </div>
                <div class="container mt-4">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <% @products.each do |product| %>
                            <%= render partial: 'products/product', locals: { product: product } %>
                        <% end %>
                    </div>
                    <div class="container mt-4 age-item">
                        <%= paginate @products %>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="bg-light p-3 mt-4">
        <div class="container">
            <p>&copy; 2024 DoggyDreamsDepot. All rights reserved.</p>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <%= link_to 'Admin', admin_root_path, class: "nav-link" %>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </footer>

    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js", integrity: "sha384-rHyoN1iRsVXVdaRRtjeJFq5bl5F+8eMpF01IGWEnMzD5l1TI3ZgV6e7DAVBEUGKf", crossorigin: "anonymous" %>
</body>
</html>
